{% extends 'base.html.twig' %}

{% block title %}Hello Administrateur !{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">Back-office</h1>

<h4 class="text-center">Bienvenue <strong>{{ app.user.username }}</strong>!</h4>

<a href="" class="col-6 offset-3 btn btn-dark p-3 my-1">Gestion des articles</a>
<a href="" class="col-6 offset-3 btn btn-dark p-3 my-1">Gestion des catégories</a>
<a href="" class="col-6 offset-3 btn btn-dark p-3 my-1">Gestion des commentaires</a>
<a href="" class="col-6 offset-3 btn btn-dark p-3 my-1">Gestion des membres</a>

{% endblock %}
